<% content_for :sidebar do%>
<h3>another picture!</h3>
<p>
	This section describes some of the basics
	about me that are not on my resume.  If you want to learn more about me visit my linkedin, facebook, or github webpages,read my blog, or contact me through email/text.  
</p>

<% end %>

<% content_for :main do%>
<div class='hero-unit'>
	<h1>About</h1>
	<p class='well'>Hello there, </br>
	my name is Justin Bradfield.  I'm originaly from Iowa and currently living in Boston.  Right now I spend most of days programing or looking for jobs at start ups. I really enjoy finding and learning languages that make a certain tast easier.  Rails development, while it's hard to get used to, is exaclty that. I've also been getting into processing recently. It's a great way sidestep tricky syntax and make apps that are fun or informative.  Besides programing I consider myself a pretty decent tennis and table tennis player as well as a huge Green bay Packers and Chicago Cubs fan(you win some you lose some). If you want to know more about me visit my <%=link_to 'linkedin','http://www.linkedin.com/in/justinbradfield' %> account or contact me.</p>
<%end%>
