<% content_for :sidebar do%>
<h3>another picture!</h3>
<p>
	This section describes some of the basics
	about me that are not on my resume.  If you want to learn more about me visit my linkedin, facebook, or github webpages,read my blog, or contact me through email/text.  
</p>

<% end %>

<% content_for :main do%>
<div class='hero-unit'>
	<h1>About</h1>
	<p class='well'>Hello there, </br>
	my name is Justin Bradfield.  More stuff........ about me........</p>
<%end%>
