<% content_for :sidebar do%>

	<p> A picture of me should go here.  Not extremely professional though</p>
	
	<h3> Hello </h3>

	<p>
		My name is Justin.  This is my new website.  On the right you will find a highlighted post, most likely about tehnology, coding, music, or food.  Feel free to explore the website. Thanks for visiting.  
	</p>

<%end%>

<% content_for :main do%>
<div class='hero-unit'>
	<h2> Welcome <small classs='muted'> have some fun this processing sketch while you're here</small></h2>
	<%=render '/shared/processing'%>
</div>
<%end%>