<% content_for :sidebar do%>
	<%= render 'post_list'%>
<%end%>


<% content_for :main do%>
<div class='hero-unit pagination-centered'>
		<h2 class='align-left'> Highlighted </h2>
		<%=render 'post_box' %>
</div>
<%end%>