<% content_for :sidebar do%>
	<h3> Post list </h3>
	<ul id='post-list'>
		<%all_posts.each do |post|%>
			<li>
				<%= link_to post.title,post%>
			</li>
		<%end%>
	</ul>
<%end%>


<% content_for :main do%>
<div class='hero-unit pagination-centered'>
		<h2 class='align-left'> Highlighted </h2>
		<%=render 'post_box' %>
</div>
<%end%>