
<% content_for :sidebar do%>
	<%=render 'post_list'%>
<%end%>


<% content_for :main do%>
<div class='hero-unit pagination-centered'>
	<small> <%=@post.created_at.strftime('%F')%> </small>
	<%=render 'post_box'%>
</div>
<%end%>